<header class="site-head" {{#if @blog.cover}}style="background-image: url({{@blog.cover}})"{{/if}}>
	<div class="vertical">
		<div role='banner' class="header_typesome">
			{{#if @blog.logo}}<a class="logo_typesome" href="{{@blog.url}}"><img src="{{@blog.logo}}" alt="{{@blog.title}}" /></a>{{/if}}
			<h1 class="blogtitle_typesome">
			<a title="{{@blog.title}}" href='{{@blog.url}}'>
			{{{@blog.title}}}
			</a>
			</h1>
			<p class="blogdescription_typesome">
			{{@blog.description}}
			</p>
		</div>
	</div>
</header>

